@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yerena Carbajal Victor Denney</h1>
    <p class="lead">Esta es la primera practica semanal de la unidad 3.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Practica Semanal 01</h2>
        <p>
            En esta practica se podra apreciar lo que estuvimos viendo durante las clases online,
            donde aprendimos a utilizar migraciones, controladores, vistas entre otras cosas,
            Se desarrollo un ejemplo como asignacion de materias a profesores a base el ejemplo que se vio en clase.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conclucion</h2>
        <p>Se debe tener conocimiento sobre c# y html para poder concluir esta pagina, ademas, 
        investigar un poco mas sobre migraciones y controladores para no tener muchos problemas en la base de datos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>localización</h2>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Maps</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26910.002568703632!2d-116.97585371726437!3d32.53281478695189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94875c00b2a3d%3A0x281526cf22a3e2cc!2sInstituto%20Tecnol%C3%B3gico%20de%20Tijuana!5e0!3m2!1ses!2smx!4v1582166924091!5m2!1ses!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>